@model int
@{
    ViewData["Title"] = "Manage your cards";
}


<h1>@ViewData["Title"]</h1>


<div class="ControllPanel">
    <div class="TextAndButton">
        <form method="post" asp-controller="Card" asp-action="ListOfCards">
            <input hidden name="clientId" value="@Model"/>
            <button type="submit" class="btn" >Info about your card</button>
        </form>
        <form method="post" asp-controller="Card" asp-action="CreateACard">
            <input hidden name="clientId" value="@Model"/>
            <button type="submit" class="btn" >Create a card</button>
        </form>
         
         <form method="post" asp-controller="Card" asp-action="TransferMoney">
            <input hidden name="clientId" value="@Model"/>
            <button type="submit" class="btn" >Transfer Money</button>
        </form>
        
        <form method="post" asp-controller="Card" asp-action="AddMoneyToMyCard">
            <input hidden name="clientId" value="@Model"/>
            <button type="submit" class="btn" >Add Money</button>
        </form>
    </div>
</div>


<style>
    .ControllPanel{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .TextAndButton{
        display: flex;
        flex-direction: column;
    }
    
</style>